*
{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #5512f3;
    font-family: 'poppins' , sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.product-card
{
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0, 0, 45);

}
.card-tag
{
    background-color: rgba(179, 75, 248 ,0.3);
    padding: 10px 10px;
    border-radius: 5px;
    


}
.card-header
{
    padding: 30px 50px;
    text-align: center;
}

.card-header img
{
    
}
