*
{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #5512f3;
    font-family: 'poppins' , sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.product-card
{
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0, 0, 45);

}
.card-tag
{
    background-color: rgba(179, 75, 248 ,0.3);
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    
  
    


}
.card-header
{
    padding: 30px 50px;
    text-align: center;
}

.card-header img
{
    max-height: 200px;
}
.title
{
    font-size: 50px;
    text-align: center;
    font-weight: 2000;
    
}
.shipping
{
    font-size: 30px;
    color: rgb(55, 128, 33);
    display: inline;
    

}
.price
{
    font-size: 30px;
    text-align: right;
    display: inline;
    margin: 20px 0;
}
.footer
{
    display:flex;
    justify-content: space-between;
}
.btn
{
    padding: 10px 30px;
    font-family: inherit;
    border-radius: 10px;
    font-size: 20px;
    width: 40%;
    cursor: pointer;
   
}
.btn-pri 
{
    background-color: #06d4f8;
    color: rgb(2, 2, 2);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.btn-sec
{
    background-color: #f89706;
    color: rgb(3, 3, 3);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.footer
{
    margin-right: 25px;
}