*
{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #5512f3;
    font-family: 'poppins' , sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.product-card
{
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0, 0, 45);

}